# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

results_hist/
results_hist_old/
results_hist.tar.gz
total_hist
gawk

# Output files
nohup.out

# Log files
*.log

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# vim temp files
*.swp
