# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# Output files
nohup.out

# Log files
*.log

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# vim temp files
*.swp
